server.port: <%= node['kibana']['port'] %>
server.host: "<%= node['kibana']['host'] %>
elasticsearch.url: "<%= node['kibana']['elasticsearch']['url'] %>
kibana.index: "<%= node['kibana']['index'] %>


